<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <variable name="telegramBotToken" value="your_bot_token"/>
    <variable name="telegramChatId" value="your_chat_id"/>

    <targets async="true">
        <target name="console" xsi:type="ColoredConsole"
                layout="${longdate} [${level:uppercase=true}] [${aspnet-TraceIdentifier}] ${message} ${exception:format=toString}"/>
        <target name="file" xsi:type="File"
                layout="${longdate} ${level} ${logger} ${message}${exception:format=ToString}"
                fileName="${basedir}/logs/AppLog.${shortdate}.log"
                maxArchiveFiles="3000"
                archiveAboveSize="20971520" />
        <target xsi:type="WebService"
                name="telegram"
                url="https://api.telegram.org/bot${telegramBotToken}/sendMessage"
                encoding="utf-8" protocol="JsonPost">
            <parameter name="">
                <layout xsi:type="JsonLayout" includeAllProperties="true">
                    <attribute name="chat_id" layout="${telegramChatId}"/>
                    <attribute name="parse_mode" layout="HTML"/>
                    <attribute name="text"
                               layout="${longdate}|#${level}|&lt;i&gt;${logger}&lt;/i&gt;|&lt;pre&gt;&lt;code&gt;${message} ${exception:format=@}&lt;/code&gt;&lt;/pre&gt;"/>
                </layout>
            </parameter>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="console" />
        <logger name="*" minlevel="Info" writeTo="file" />
        <logger name="*" level="Fatal" writeTo="telegram"/>
    </rules>
</nlog>
